.inputfield{
    width: 190px;
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
    transition: 1s;
}
.inputfield:hover{
    border: 1px solid blue;
}

::-webkit-input-placeholder{
    color: skyblue;
}
:moz-input-placeholder{
    color: skyblue;
}
::-moz-input-placeholder{
    color: skyblue;
}
:-ms-input-placeholder{
    color: skyblue;
}
.basic_form{
    width: 400px;
    border: 3px solid grey;
    padding: 20px;
    float: right;
    margin-right: 50px;
}